@tailwind base;
@tailwind components;
@tailwind utilities;

p, li {
  font-weight: 400;
}

/* scroll-bar */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.arrow {
  &::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
  }

  &.left {
    transform: rotate(-135deg) translate(-50%);
  }

  &.right {
    transform: rotate(45deg);
  }
}


.svg_loading {
  animation: spin 1s linear infinite;

  circle {
    opacity: .25;
  }
  path {
    opacity: .75;
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn)
  }
}

.tox-statusbar__right-container {
  display: none !important;
}

.tox-notification {
  display: none !important;
}

.tox-notification--in {
  display: none !important;
}

.tox-notification--warning {
  display: none !important;
}

.tox-tinymce {
  flex: 1
}

.react-datepicker-wrapper {
  width: 100%;
}


.bg-insight-item {
  background: linear-gradient(to right, rgba(225, 183, 84, 0.3), rgba(235, 201, 130, 0.3), rgba(251, 248, 208, 0.3));
}

.custom-bg {
  background: linear-gradient(to right, rgba(235, 201, 130, 0.6), rgba(251, 248, 208, 0.6), rgba(225, 183, 84, 0.6), rgba(243, 200, 109, 0.6));
}

.ant-modal-content {
  background: linear-gradient(to right, #ebc9824d, #fbf8d04d, #e1b7544d, #f3c86d4d);
  padding: 0 !important;
}

.bg-liner {
  background: linear-gradient(to right, #0D2D95, #0C63C6);
}
